#external {
	color: yellow;
}

* {
	font-family: "Verdana", sans-serif;
    font-size: 18px;
}

h1 {
	font-size: 2.5rem;
}

#opening {
	text-transform: uppercase;
}

.programming-languages {
	background-color: lightgreen;
}

li[style] {
	border: 2px solid lightblue;
}

img + ul {
	list-style-type: none;
}

body img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

img ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 15px;
}